*{
	padding: 0;
	margin: 0
}

p{
	padding: 10px;
	margin: 10px;
	text-align: center;
}

.titulo1{
	text-align: center;
	border: 1px;
	padding: 8px;
	background-color: lightcoral;
	margin: 16px;

}

.titulo2{
	text-align: center;
	border: 1px;
	padding: 8px;
	background-color: lightsalmon;
}

.boton1{
		text-align: center;
	border: 1px;
	padding: 8px;
	background-color: #4CAF50;
	border-radius: 30px;
	width: 100px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	float: right;
}
.boton2{
		text-align: center;
	border: 1px;
	padding: 8px;
	background-color: blue;
	width: 100px;
	border-radius: 30px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	float: right;
}

.boton3{
		text-align: center;
	border: 1px;
	padding: 8px;
	background-color: red;
	width: 100px;
	border-radius: 30px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	float: right;
}
